<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
Hello <p th:if="${name} != null" th:text="${name}"></p>
<p th:unless="${name} != null">World</p>

<table>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.name}"></td>
        <td th:text="${student.unit}"></td>
        <td th:text="${student.index}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/students-page/add}">Dodaj studenta</a>
</body>
</html>